.container {
    width: 300px;
    background: #fff;
    border-radius: 20px;
    position: relative;
}

.title {
    font-weight: 500;
    padding: 5px 10px;
    border-bottom: solid 2px #000;    margin: 20px 80px;
    font-size: 20px;
}

.other__option {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    align-items: center;
}

.other__option p {
    color: #292929;
}

.other__option button {
    font-size: 16px;
    border: none;
    background: transparent;
    color: #292929;
    cursor: pointer;
    transition: all 0.2s ease;
}

.other__option button:hover {
    color: #ff0068;
}